@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/alt-screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
@import "./components/icon-row.css";
@import "./components/no-mobile.css";


/* Screens */
@import "./screens/login.css";
@import "./screens/friends.css";
@import "./screens/find.css";
@import "./screens/more.css";
@import "./screens/settings.css";
@import "./screens/chat-screen.css";


html {
  background: linear-gradient(to right bottom, #65dfc9, #6cdbeb);
}

body {
  color: #426696;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  opacity: 0.9;
  font-family: "Poppins", sans-serif;
}

.main-screen {
  margin-top: 106px;
  padding: 0px var(--horizontal-space);
}