.friends-display-wrapper {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
}

#friends-display-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  background: linear-gradient(      /*    */
    to right bottom,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.8)
  );
  padding: 15px 0;
  font-size: 16px;
  margin-top: 106px;  /*-15px;*/
  /* top: 106px; */
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

#friends-display-link span {
  margin-left: 5px;
  margin-right: 15px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel {
  margin-top: 20px;
  border-top: var(--main-border);
  padding-top: 12px;
}

.friends-screen__channel-header {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    /* display: none은 마우스를 클릭할수 없으나
    아래와 같이하면 마우스 클릭이 걸리지 않게 할수 있다.
    사실 이와 같은 숨김 기능은 JS로만 해주어야한다. 이 수업에서는
    간략하게 CSS적 기능으로만 구현해보는 취지이다. */
    visibility: hidden;
  }
}

#splash-screen {
  z-index: 3;
  background-color: #fff;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 128px;
  animation: hideSplashScreen 0.7s ease-in-out forwards;
  animation-delay: 1.2s;
}