.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

.welcome-header__text {
  width: 60%;
  opacity: 0.7;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.login-form__input {
  border: none;
  padding: 15px 0;
  font-size: 18px;
  margin-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  transition: border-color 0.2s ease-in-out;
}

.login-form__input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  padding-left: 15px;
}
/* .login-form__input:focus {
  border-color: #6cdbeb;
} */
.login-form__input:focus,
.login-form__input:focus::placeholder {
  border-color: #6cdbeb;
  color: #6cdbeb;
}

.login-form__btn {
  cursor: pointer;
  padding: 20px 0;
  border-radius: 5px;
  border: none;
  padding: 20px 0;
  margin-bottom: 15px;
  transition: background-color 0.2s ease-in-out;
}

.login-form__btn--hover:hover {
  background: linear-gradient(to right bottom, #65dfc9, #6cdbeb);
}

.login-form__a {
  margin-top: 17px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
