.badge {
    background-color: #FF6228;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: 600;
    height: 23px;
    width: 23px;
    border-radius: 50%;
}